{% extends 'base.html' %} {% block main %}

<div id="searchLive" class="col-lg-12 layout-spacing">
  <div class="statbox widget box box-shadow">
    <div class="widget-content widget-content-area text-center tags-content">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-9 filtered-list-search mx-auto">
          <form method="GET" class="form-inline my-2 my-lg-0 justify-content-center">
            <div class="w-100">
              <input
                type="search"
                name="recherche"
                class="w-100 form-control product-search br-30"
                id="input-search"
                placeholder="Search Attendees..."
              />
              <button class="btn btn-primary" type="submit">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="main-container" id="container">
      <div id="content" class="main-content">
        <div class="container">
          <div class="row layout-top-spacing">
            <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
              <div class="statbox widget box box-shadow">
                <div class="widget-header">
                  <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                      <h2 style="text-align: center">Liste des Produits</h2>
                    </div>
                  </div>
                </div>
                <div class="widget-content widget-content-area">
                  <div class="table-responsive">
                    <table class="table table-bordered mb-4">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>vendeur</th>
                          <th>date_achat</th>
                          <th>date_peremption</th>
                          <th>prix</th>
                          <th>quantite</th>
                          <th class="text-center">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for pr in prod %}
                        <tr>
                          <td>{{pr.nom}}</td>
                          <td>{{pr.vendeur}}</td>
                          <td>{{pr.date_achat}}</td>
                          <td>{{pr.date_peremption}}</td>
                          <td>{{pr.prix}}</td>
                          <td>{{pr.quantite}}</td>

                          <td class="text-center">
                            <span class="text-success">Complete</span>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock main %}
  </div>
</div>
